/*--------------------------------------------------------------
  # Dashboard Styling
  --------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

.main-wrapper {
  transition: all 0.25s ease-in;
  position: relative;
  z-index: 1;
  margin-top: 70px;
  padding-top: 90px;
  padding-bottom: 70px;
  background-color: #ecf0f1;
  min-height: 100vh;
}

.sub-wrapper {
  margin-left: 240px;
}
@media only screen and (max-width: 767px) {
  .sub-wrapper {
    margin-left: 0px;
  }
}

/** ------------------------------------------------------
              GENERIC STYLING
----------------------------------------------------------**/

.card {
  border: 0px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgb(55 55 89 / 8%);
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
  border-bottom: 2px solid rgba(55, 55, 89, 0.1);
  background: #fff;
  padding: 20px;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.card-title {
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 600;
}

.custom-btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  border-radius: 7px;
  padding: 15px 40px;
}
.custom-btn:focus {
  outline: 0 !important;
}
.custom-btn3 {
  font-size: 14px;
  min-width: 150px;
  color: #fff;
  border-radius: 30px;
  border: none;
  outline: none;
}
.bg-approve {
  background-color: #948cf3;
}
.bg-decline {
  background-color: #eb6e53;
}
.add-btn {
  background: #66a6ff;
  color: #fff;
  font-size: 14px;
}
.add-btn span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}
.add-btn i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 180%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  left: -100%;
  top: 0;
  color: transparent;
}
.add-btn:hover span {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  color: transparent;
}

.add-btn:hover i {
  left: 0;
  top: -7px;
  color: #fff;
}

@media only screen and (max-width: 565px) {
  .add-btn span {
    display: none;
  }
  .add-btn i {
    left: 0;
    top: -5px !important;
    color: #fff;
    font-size: 130%;
  }
  .add-btn {
    padding: 20px 30px;
  }
}
.dashboard-search {
  display: flex;
  overflow: hidden;
}
.dashboard-search .inner-form {
  width: 100%;
}
.dashboard-search .search-filter-btn {
  min-width: 100px;
  height: 70px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: transparent;
  color: #274685;
  border: 1px solid #274685;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.dashboard-search .inner-form .input-field {
  position: relative;
}

.dashboard-search .inner-form .input-field input {
  height: 100%;
  border: 0;
  background: #fff;
  display: block;
  width: 100%;
  padding: 10px 32px 10px 70px;
  font-size: 18px;
  color: #666;
  border-radius: 3px;
  height: 70px;
  color: #555;
}
.dashboard-search .inner-form .input-field input.placeholder {
  color: #999;
  font-size: 18px;
}

.dashboard-search .inner-form .input-field input:-moz-placeholder {
  color: #999;
  font-size: 18px;
}

.dashboard-search .inner-form .input-field input::-webkit-input-placeholder {
  color: #999;
  font-size: 18px;
}

.dashboard-search .inner-form .input-field input:hover,
.dashboard-search .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.dashboard-search .inner-form .input-field .btn-search {
  min-width: 100px;
  height: 40px;
  padding: 0 15px;
  background: #e45c27;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}

.dashboard-search .inner-form .input-field .btn-search:hover {
  background: #d7501b;
}

.dashboard-search .inner-form .input-field .btn-delete {
  min-width: 100px;
  height: 40px;
  padding: 0 15px;
  background: transparent;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}

.dashboard-search .inner-form .input-field .btn-delete:hover {
  color: #fff;
}

.dashboard-search .inner-form .basic-search {
  margin-bottom: 5px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}

.dashboard-search .inner-form .basic-search .input-field {
  width: 100%;
}

.dashboard-search .inner-form .basic-search .input-field input {
  padding: 10px 80px 10px 40px;
}

.dashboard-search .inner-form .basic-search .input-field .icon-wrap {
  position: absolute;
  top: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 100%;
}
.dashboard-search .inner-form .basic-search .input-field .icon-wrap:hover {
  cursor: pointer;
}

.dashboard-search .inner-form .basic-search .input-field .icon-wrap svg {
  width: 34px;
  height: 34px;
  fill: #ccc;
}
.dashboard-search .inner-form .advance-search {
  background: #000;
  border-radius: 3px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  height: 0;
  transition: all 0.5s ease;
}
.dashboard-search .inner-form .show-search {
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 10px 40px;
}
.dashboard-search .inner-form .advance-search label {
  font-size: 12px;
  color: #999;
}

.dashboard-search .inner-form .advance-search .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}
.dashboard-search .inner-form .advance-search .input-field.group-btn {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5px;
}

.dashboard-search .inner-form .advance-search .input-select {
  flex: 1;
}
.dashboard-search .inner-form .advance-search .input-select select,
.dashboard-search .inner-form .advance-search .input-select input {
  width: 97%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #ccc;
  height: 100%;
  color: #fff;
  font-size: 14px;
  border-radius: 0px;
  min-width: 200px;
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}

.dashboard-search .inner-form .advance-search .input-select select:focus,
.dashboard-search
  .inner-form
  .advance-search
  .input-select
  select.form-control:focus {
  background: #000;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.pagination {
  justify-content: flex-end;
}

.pagination p {
  padding-top: 5px;
  font-weight: 600;
}

.pagination h4 {
  color: black;
  float: left;
  font-weight: 600;
  padding: 0px 16px;
  text-decoration: none;
}

.pagination h4:hover:not(.active) {
  background-color: #ddd;
  cursor: pointer;
}

/**--------------------------------------------------
DIGITAL WALLET
-----------------------------------------------------**/
.digitalid-card {
  background: #fff;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(55, 55, 89, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.digitalid-info {
  display: flex;
  align-items: center;
}
.digitalid-info img {
  margin-right: 10px;
}
.digitalid-info h6 {
  font-weight: 600;
}
.digitalid-status {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 5px;
}
.digitalid-status.success {
  background-color: #10d876;
  color: #fff;
}
.digitalid-status.reject {
  background-color: #ff7473;
  color: #fff;
}
.digitalid-status.pending {
  background-color: #ffc107;
  color: #fff;
}
@media only screen and (max-width: 500px) {
  .digitalid-info img {
    display: none;
  }
}

/**--------------------------------------------------
INFORMATION REQUESTS
-----------------------------------------------------**/
.request-item {
  background: #fff;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(55, 55, 89, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-info {
  width: 45%;
}

.request-info h5 {
  font-weight: 600;
  font-size: 18px;
}
.request-info p {
  font-size: 14px;
}

.request-info .request-date {
  display: none;
}

.request-date {
  color: #777777;
  font-size: 13px;
}

.request-status {
  padding: 0px !important;
  border: none;
  display: table;
  table-layout: fixed;
  margin: 0;
}
.request-status:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.request-status > [class*='col-'] {
  display: table-cell;
  float: none;
  table-layout: fixed;
  vertical-align: middle;
}

.request-status h4 {
  font-size: 14px;
  margin: 0 !important;
}

.bg-light-dark {
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1000px) {
  .request-info {
    width: 70% !important;
  }
  .request-date {
    display: none;
  }
  .request-info .request-date {
    display: inline-block;
  }
  .request-status .header {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .request-info h5 {
    font-size: 14px;
  }
  .request-info .request-date {
    font-size: 12px !important;
  }
  .request-info p {
    font-size: 12px !important;
  }
  .request-info div {
    font-size: 12px !important;
  }
}
.btn-more-info {
  background-color: #5469d4;
  color: white;
}
/**--------------------------------------------------
DOCUMENT UPLOAD
-----------------------------------------------------**/

.modal-backdrop.fade.in {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
#document-upload .modal-body {
  padding: 20px 50px 50px;
}

.modal-dialog {
  max-width: 600px;
  margin: 5% auto;
}
.modal-dialog .modal-content {
  border: 1px solid #edeef1;
  border-radius: 5px;
}
.theme-modal-header .close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 15px;
  z-index: 99;
}
.theme-modal-header {
  text-align: center;
  position: relative;
  padding: 15px 0 10px 0;
  border-bottom: 2px solid #f1f1f1;
}
.theme-modal-header .title img {
  margin: auto;
  margin-bottom: 10px !important;
}
.theme-modal-header .title i {
  top: -2px !important;
  position: relative;
}
.theme-modal-header .title {
  position: relative;
  font-family: 'Graduate', cursive;
  font-size: 14px;
  color: #8890a3;
}

.document-upload-about ul {
  list-style: none;
  padding: 10px !important;
  font-size: 14px;
  color: #4d5369;
  font-family: 'Open Sans', sans-serif;
}
.document-upload-about ul li {
  margin-bottom: 10px;
}
.document-upload-about ul i {
  padding-right: 5px;
}

#document-upload .next-btn {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  margin: 20px 0 0 0;
  background: #5469d4;
}

#document-upload .back-btn {
  position: absolute;
  left: 15px;
  top: 0px;
  font-size: 30px;
}

.document-type .form-container {
  max-width: 600px;
  padding: 30px 0px;
}
.document-type .form-label {
  text-align: left;
  margin-bottom: 5px !important;
  font-weight: 600;
  font-size: 14px;
}
.document-type select {
  width: 100%;
  height: 100% !important;
  border: 1px solid #dee0e7;
  background-color: #fff !important;
  font-size: 16px;
  padding: 7px 20px;
  border-radius: 5px;
}

.document-type-radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
}

.id-radio-group {
  position: relative;
  font-size: 16px;
}
.id-radio-group input[type='radio'] {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
}
.id-radio-group label {
  cursor: pointer;
}
.id-radio-group .radio {
  position: relative;
  border: 2px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  display: block;
  text-align: left;
}
.id-radio-group i {
  font-size: 60px;
}

.id-radio-group input[type='radio']:checked ~ .radio {
  border: 2px solid #5469d4;
}

.document-pictures {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: 10px;
}

.document-pictures .file-upload-area {
  font-family: 'lato', sans-serif;
  height: 250px;
  width: 100%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition-property: border;
  transition-duration: 0.2s;
}

.document-pictures .file-upload-area:hover {
  border-color: rgba(51, 51, 51, 0.8);
}
.no-border {
  border: none !important;
}
.file-upload-area img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.document-pictures p {
  position: relative;
  top: 30%;
  text-align: center;
  font-size: 20px;
  color: #333;
  padding: 15px;
}

/**--------------------------------------------------
APPROVAL REQUESTS INFO  
-----------------------------------------------------**/

.approval-request-info {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 1em !important;
}

.approval-request-info .custom-btn2 {
  margin-top: 20px;
  font-size: 14px;
  width: 100px;
  color: #fff;
  border-radius: 20px;
  border: none;
  outline: none;
}

/**--------------------------------------------------
NEW INFORMATION REQUESTS
-----------------------------------------------------**/

.or-break {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 18px;
  color: #aab7b8;
  line-height: 2;
  margin-top: 5px;
}
.or-break:before,
.or-break:after {
  height: 1.5px;
  display: inline-block;
  width: 100px;
  background: #e5e7e9;
  border-right: 1px white;
  content: '';
  margin-left: 10px;
  padding: 1px;
  margin-right: 10px;
}
