/*--------------------------------------------------------------
  # Dashboard Styling
  --------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.main-wrapper {
  transition: all 0.25s ease-in;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-top: 70px;
  padding-top: 90px;
  background-color: #ecf0f1;
  height: 95vh;
}

.sub-wrapper {
  margin-left: 240px;
}
@media only screen and (max-width: 767px) {
  .sub-wrapper {
    margin-left: 0px;
  }
}

/** ------------------------------------------------------
              GENERIC STYLING
----------------------------------------------------------**/

.card {
  border: 0px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgb(55 55 89 / 8%);
  background: #fff;
  font-family: "Poppins", sans-serif;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
  border-bottom: 2px solid rgba(55, 55, 89, 0.1);
  background: #fff;
  padding: 20px;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.card-title {
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 600;
}

.custom-btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  border-radius: 7px;
  padding: 15px 40px;
}
.custom-btn:focus {
  outline: 0 !important;
}
.add-btn {
  background: #4a9aef;
  color: #fff;
}
.add-btn span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}
.add-btn i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 180%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  left: -100%;
  top: 0;
  color: transparent;
}
.add-btn:hover span {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  color: transparent;
}

.add-btn:hover i {
  left: 0;
  top: -10px;
  color: #fff;
}

@media only screen and (max-width: 565px) {
  .add-btn span {
    display: none;
  }
  .add-btn i {
    left: 0;
    top: -5px !important;
    color: #fff;
    font-size: 130%;
  }
  .add-btn {
    padding: 20px 30px;
  }
}

/**--------------------------------------------------
DIGITAL WALLET
-----------------------------------------------------**/
.digitalid-card {
  background: #fff;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(55, 55, 89, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.digitalid-info {
  display: flex;
  align-items: center;
}
.digitalid-info img {
  margin-right: 10px;
}
.digitalid-info h6 {
  font-weight: 600;
}
.digitalid-status {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 5px;
}
.success {
  background-color: #10d876;
  color: #fff;
}
.reject {
  background-color: #ff7473;
  color: #fff;
}
.pending {
  background-color: #ffc107;
  color: #fff;
}
@media only screen and (max-width: 500px) {
  .digitalid-info img {
    display: none;
  }
}

/**--------------------------------------------------
USER INFORMATION REQUESTS
-----------------------------------------------------**/
.request-item {
  background: #fff;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(55, 55, 89, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-info h5 {
  font-weight: 600;
  font-size: 18px;
}
.request-info p {
  font-size: 14px;
}

.request-info .request-date {
  display: none;
}

.request-date {
  color: #777777;
  font-size: 13px;
}

.request-status {
  padding: 0px !important;
  border: none;
  display: table;
  table-layout: fixed;
  margin: 0;
}

.request-status > [class*="col-"] {
  display: table-cell;
  float: none;
  table-layout: fixed;
  vertical-align: middle;
}

.request-status h4 {
  font-size: 14px;
  margin: 0 !important;
}

.bg-light-dark {
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1000px) {
  .request-date {
    display: none;
  }
  .request-info .request-date {
    display: inline-block;
  }
  .request-status .header {
    display: none;
  }
}
