/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 25px;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  top: 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  height: 75px;
}

.name-logo2 {
  display: none !important;
}
.header-scrolled .name-logo {
  display: none !important;
}
.header-scrolled .name-logo2 {
  display: block !important;
}

@media (max-width: 992px) {
  #header {
    top: 0;
  }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
  padding-left: 30px;
}

.main-nav a {
  display: block;
  position: relative;
  padding: 10px 0;
  transition: 0.3s;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
.header-scrolled .main-nav a {
  color: #222222;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #2d71a1;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #065e77;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #1bb1dc;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(40, 38, 70, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #8dc2fa;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #271651 !important;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #271651 !important;
}
section {
  overflow: hidden;
}

.mobile-nav-active #mysidemenu {
  left: 0px !important;
}
#mysidemenu {
  position: fixed;
  width: 300px;
  height: 100vh;
  color: #040b14;
  background-color: #f8f8fa;
  top: 0;
  left: -300px;
  bottom: 0;
  transition: all ease-in-out 0.5s;
  z-index: 9999;
}

#mysidemenu .profile img {
  margin: 15px auto;
  display: block;
  width: 130px;
  height: 130px;
  border: 5px solid #2c2f3f !important;
}
#mysidemenu .profile h2 {
  text-align: center;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #040b14;
}
#mysidemenu .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#mysidemenu .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
  transform: scale(1.2);
}

.nav-menu {
  padding-top: 30px;
}
.nav-menu * {
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 15px;
  margin-bottom: 8px;
}
.nav-menu a {
  align-items: center;
  color: #222222;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.nav-menu a i {
  padding-right: 8px;
  color: #6f7180;
}
.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #4458dc;
}

.nav-menu a:hover i,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
  color: #4458dc;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: flex;
  }
}
